
2020.07.28_Tues/CodeBlocks/4/4.layout
2020.07.30_PROJECT-MOISTURE/PROJ-MOISTURE.uvgui.Legend68
2020.07.30_PROJECT-MOISTURE/PROJ-MOISTURE.uvgui.Legend68
2020.11.15_DynamicLed/Listings/Dynmanic4-8051.m51
2020.11.15_DynamicLed/Listings/DynamicLed2.m51
2020.11.15_DynamicLed/Listings/DynamicLed2.lst
2020.11.15_DynamicLed/Listings/DynamicLed4.lst
2020.11.15_DynamicLed/Listings/STARTUP.lst
2020.11.15_DynamicLed/Objects/DynamicLed.build_log.htm
2020.11.15_DynamicLed/Objects/DynamicLed2.build_log.htm
2020.11.15_DynamicLed/Objects/DynamicLed.obj
2020.11.15_DynamicLed/Objects/DynamicLed.lnp
2020.11.15_DynamicLed/Objects/DynamicLed.hex
*.lnp
*.htm
*.obj
*.o
*.layout
*.lst
*.m51
*.Legend68
*.layout
2020.07.28_Tues/CodeBlocks/4/4.layout
*.exe
*.o
2020.07.28_Tues/CodeBlocks/4/obj/Debug/Solutions/3_Read&Differ2File.o
